.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  &--blue {
    color: $mainBlue;
  }

  @mixin atSmall {
    font-size: 3.75rem;
  }

  &__icon {
    display: block;
    margin-right: auto;
    margin-bottom: 0.6rem;
    margin-left: auto;

    @mixin atSmall {
      display: inline-block;
      position: relative;
      top: 8px;
      margin-right: 0.5rem;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  strong {
    font-weight: 500;
  }
}
