.social-icons {
  text-align: center;

  &__icon {
    display: inline-block;
    position: relative;
    margin: 0 5px 5px 5px;
    height: 72px;
    width: 33%;
    background-color: $mainOrange;

    @mixin atSmall {
      margin: 0 5px;
      width: 72px;
    }

    .icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
